::ng-deep:root {
    
    #logo {
    grid-area: logo;
    }
    #logo img {
    width: var(--logo__width);
    }

  /* Defined logo width */
  --logo__width: 110px;


  @media screen and (min-width: 767px) {
    
    --logo__width: 150px;

  }
  
}