::ng-deep:root {

    /* Defined header grid */
    --header__cols: 1fr 30px;
    --header__areas: "logo menu-toggle"
                     "menu menu";

    /* TW - mobile header */
    app-header {
      display: grid;
      padding: 26px 16px;
      background: var(--brand-color-4);
      grid-template-columns: var(--header__cols);
      grid-template-areas: var(--header__areas);
      z-index: 2;
    }



  @media screen and (min-width: 767px) {

    --header__cols: auto auto;
    --header__areas: "logo menu";

    app-header {
      background: none;
    }
    

  }
  
}

