::ng-deep:root {

    /* define secondary-nav grid - TW*/
    --secondary-nav__cols: auto auto auto auto;
    --secondary-nav__areas: "anxiety depression pain_management insomnia";

    #secondary-nav {
        display: flex; 
        flex-wrap: nowrap;
        position: relative;
        height: 68px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        background-color: var(--text-color__light);
        color: var(--brand-color-1);
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.25);
    }

    #secondary-nav li {
        list-style: none;
        flex: 0 0 auto;
        justify-content: center;
        text-align: center;
        padding: 22px 16px 24px 16px;
    }

    #secondary-nav  i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    #secondary-nav .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    /* define grid areas - TW */
    .secondary-menu-item-1 {
        grid-area: anxiety;
    }
    .secondary-menu-item-2 {
        grid-area: depression;
    }
    .secondary-menu-item-3 {
        grid-area: pain_management;
    }
    .secondary-menu-item-4 {
        grid-area: insomnia;
    } 

  @media screen and (min-width: 767px) {

        --secondary-nav__cols: auto auto auto auto;
        --secondary-nav__areas: "anxiety depression pain_management insomnia";
  }

}

.active {
    border-bottom: 1px solid var(--brand-color-1);
}