<app-secondary-nav></app-secondary-nav>
<!--<div *ngFor="let program of programs">
<div>
        <p> {{programLists.programName}} </p>
</div>
</div>-->
<!-- failed to load .json - TW -->
<!-- Once again, I want to say thank you and appreciate the time and effort you have given me. This has been a great learning experience. I will continue to adjust and perfect as the knowledge provides. Sincerely, Timothy Wong

Time Allocated

September 27, 2019 - 9:30pm -11:30pm - Refresher on node, git and study angular
September 28, 2019 - 9am - 11am - Understanding angular and refresher on grid 
September 30, 2019 - 9am - 10:30am - creating components and coding the header
September 30, 2019 - 9pm - 5am - coding some more of the header, navigation, secondary nav and attempting to study import of .json and css grid for the secondary nav to horizontal scroll
September 30, 2019 - 9am - 10:30am - creating the program content for mobile 
September 30, 2019 - 10:45am - 11:15am - getting it loaded to gitlab.com
-->
<div class="content">
    <h1>Anxiety</h1>
    <p class="global__paragraph">Anxiety is your body’s response to danger. The danger can be real. You might only think it is real. Usually anxiety doesn’t come from a real danger. Instead, it comes from worrying about what might happen.</p>
    <p class="global__paragraph">Anxiety is the body’s alarm system. Anxiety protects us when we are in danger. When we are in danger we become more aware. We are very cautious of the possible danger. You might have heard of “fight or flight”. Our body gets ready to either fight or run away. This is a good thing if we are actually in danger. However, if we’re not really in danger, it’s not so good. Our body might not relax. Instead, it keeps being alert. It is ready to run or fight. We’re anxious. This is a problem. But we can learn how to deal with anxiety.</p>
    <p class="global__paragraph"><strong>You will learn several things in this online program:</strong></p>
    <ul class="global__bullet-list programs__bullet-list">
        <li class="bullet-list__list-item">What anxiety is?</li>
        <li class="bullet-list__list-item">How anxiety affects your emotions. Your mind, your body and your behaviour.</li>
        <li class="bullet-list__list-item">How to reduce anxiety by learning CBT skills.</li>
        <li class="bullet-list__list-item">Use CBT skills to change your responses to anxiety triggers.</li>
        <li class="bullet-list__list-item">Develop strategies to track and reduce your anxiety response.</li>
    </ul>
    <p class="global__paragraph remove-bottom-margin">The $500 program will be billed in 4 installments of $125</p>
</div>
<div class="calltoaction">
        <p class="global__paragraph global__paragraph--small">Get started today</p>
        <h4>$500</h4><img class="info-icon"src="../assets/images/programs/info-icon.svg">
        <button class="secondary-btn">Purchase Now</button>
</div>