::ng-deep:root { /*setting brand headings */

    h1 {
        color: var(--brand-color-1);
        font-weight: 800;
        font-size: 42px;
        line-height: 50px;
        margin: 10px 0 0 0;
    }

    app-programs {
        display: grid;
        /*background: var(--text-color__light);
        box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.25);*/
    }

    .content {
        padding: 16px;
    }

    .bullet-list__list-item {
        padding-left: 8px;
    }

    .calltoaction {
        display: grid;
        grid-template-columns: var(--calltoaction__cols);
        grid-template-areas: var(--calltoaction__areas);
        background-color: var(--text-color__light);
        padding: 8px 16px;
        box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.25);
    }
    .calltoaction .global__paragraph{
        grid-area: calltoactiontitle;
        margin: 0;
    }
    .calltoaction h4 {
        grid-area: calltoactionprice;
        color: var(--brand-color-1);
        font-size: 21px;
        line-height: 150%;
        margin: 0;
    }
    .calltoaction .info-icon {
        grid-area: calltoactioninfo;
        margin-left: 16px;
        width: 23px;
        height: 23px;
        margin: auto;
        align-items: center;
        justify-items: center;
    }

    .calltoaction button {
        grid-area: calltoactionbutton;
        background: var(--brand-color-1);
        color: var(--brand-color-3);
        font-weight: 600;
        font-size: 14.742px;
        line-height: 20px;
        border: none;
        border-radius: 81.9px;
    }

    --calltoaction__cols: 48px 41px auto 50%;
    --calltoaction__areas: "calltoactiontitle calltoactiontitle calltoactiontitle calltoactionbutton"
                        "calltoactionprice calltoactioninfo . calltoactionbutton";
}
