<button id="menu-toggle" class="menu-open-button">
<i class="menu-line"></i>
<i class="menu-line"></i>
<i class="menu-line"></i>
</button>
<nav id="menu">
    <ul>
        <li class="menu-item-1"><a href="">Home</a></li>
        <li class="menu-item-2"><a class="active" href="">Programs</a></li>
        <li class="menu-item-3"><a href="">Contact</a></li>
        <li class="menu-item-4"><a class="login-btn" href="">Login</a></li>
        <li class="menu-item-5"><a class="language-toggle" href="">English<span class="language-btn"></span></a></li>
    </ul>   
</nav>
