::ng-deep:root {
    
    /* define nav grid - TW*/
    --nav__cols: 1fr;
    --nav__rows: 50px;
    --nav__areas: "home"
     "programs"
     "contact"
     "login"
     "language";

    #menu-toggle {
        grid-area: menu-toggle;
    }

    app-nav {
        margin: auto;
    }

    /* reset button - TW*/
    app-nav button {
        border: none;
        background: none;
        padding: 0;
    }

    app-nav button:hover {
        cursor: pointer;
    }

    /* style menu toggle - TW*/
    .menu-line {
        content: "";
        display: block;
        left: 0;
        width: 30px;
        margin-bottom: 5.5px;
        border: 1.75px solid var(--brand-color-1);
        border-radius: 15px;
    }

    .menu-line:last-child {
        margin-bottom: 0;
    }

    /* nav show/hide - TW*/
    #menu {
        grid-area: menu;
        display: none;
        color: var(--brand-color-1);
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        
    }

    /* nav styling - TW*/
    #menu ul {
        display: grid;
        grid-template-columns: var(--nav__cols);
        grid-column-gap: var(--nav__cols-gap);
        grid-template-rows: var(--nav__rows);
        grid-template-areas: var(--nav__areas);
        justify-content: end;
        align-items: center;
    }

    #menu ul li {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #menu ul li a{
        color: var(--brand-color-1);
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* define grid areas - TW */
    .menu-item-1 {
        grid-area: home;
    }
    .menu-item-2 {
        grid-area: programs;
    }
    .menu-item-3 {
        grid-area: contact;
    }
    .menu-item-4 {
        grid-area: login;
    }
    .menu-item-5 {
        grid-area: language;
    }

    .login-btn {
        font-size: 18px;
        line-height: 22px;
        border: 1px solid #00308F;
        border-radius: 100px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .language-toggle {
        font-weight: normal;
    }

    .language-btn {
        display: inline-block;
        margin-left: 12px;
        position: relative;
        top: -2px;
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--brand-color-1);
    }

    .btn-border {
        border: 1px solid var(--brand-color-1);
        border-radius: 100px;
    }

  @media screen and (min-width: 767px) {

        --nav__cols: 106px 106px 106px 106px 100px;
        --nav__cols-gap: 16px;
        --nav__rows: 50px;
        --nav__areas: "home programs contact login language";

    app-nav {
        margin: 0;
    }

    #menu-toggle {
        display: none!important;
    }
    #menu {
        display: block;
    }
  }

}

    /* nav active - TW*/
    .active {
        border-bottom: 1px solid var(--brand-color-1);
    }