:root {

    /* Colours */
    --brand-color-1: #00308F; /* Primary Blue */
    --brand-color-2: #446FC8; /* Secondary Blue */
    --brand-color-3: #28E6E1; /* Teal */
    --brand-color-4: #F5F8FF; /* White/Blue */

    --text-color: #313235;
    --text-color__light: #ffffff;
    --primaryFont: 'Open Sans', sans-serif;
  }

  /* autoprefixer grid: on */

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  body {
    background: #F8F8F8/*#E3E3E3*/; /* change to figma background - TW */
    font-family: var(--primaryFont);
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* keep user within the browser - TW  */
  }

  .global__link {
    color: var(--brand-color-1);
    font-weight: 700;
  }

  .global__break {
    display: block;
  }

  .color--brand1 {
    color: var(--brand-color-1);
  }

  .color--brand2 {
    color: var(--brand-color-2);
  }

  .color--brand3 {
    color: var(--brand-color-3);
  }

  .color--background--white {
    background-color: var(--text-color__light);
  }

  .global__paragraph {
    font-family: var(--primaryFont);
    font-size: 100%;
    color: var(--text-color);
    font-weight: normal;
    line-height: 24px;

    &.global__paragraph--light {
      color: var(--text-color__light);
    }

    &.global__paragraph--small {
      font-size: 75.0%;
      line-height: 140%;
    }
  }

  .global__bullet-list {
    margin-left: 20px;
    font-family: var(--primaryFont);
    font-size: 100%;
    color: var(--text-color);
    font-weight: normal;
    line-height: 24px;
    list-style: url("assets/images/programs/green-check.svg"); /* image for list item styles - TW*/

    &.global__bullet-list--light {
      color: var(--text-color__light);
    }
  }

  /* resets */

  ul {
    margin: 0;
    padding: 0;
  }
  .remove-bottom-margin {
    margin-bottom: 0;
  }